<%= simple_form_for [:admin, @page], :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>

  <%= f.input :title, label: "Tittel" %>
	<%= f.input :ingress, label: "Ingress" %>
  	<%= f.input :body, label: "Brødtekst" %>
 
  <div class="form-actions">
    <%= f.submit "Opprett side", :class => 'btn btn-primary' %>
    <%= link_to 'Avbryt',admin_pages_path, :class => 'btn' %>
  </div>
</fieldset>
<% end %>
