
<div class="row">

  <div class="span12 ">

    <div class="well form-horizontal" style="height:630px">

        <legend style="font-family:Arial">Rediger profil</legend>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= f.error_notification %>

        <div class="span6">
          <div class="control-group">
              <label class="control-label">E-post</label>
              <div class="controls">
                <div class="input-prepend">
                 <span class="add-on"><i class="icon-envelope"></i></span>
                <%= f.input :email, :wrapper_html => { :class => "inline_field_wrapper" },  :required => true, label: false, :autofocus => true %>
              </div>
            </div>
          </div>
          <div class="control-group ">
              <label class="control-label">Nytt passord</label>
              <div class="controls">
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                       <%= f.input :password, :wrapper_html => { :class => "inline_field_wrapper" },  label: false, :autocomplete => "off", :hint => "La stå tom hvis du ikke vil endre passord", :required => false %>
                    </div>
              </div>
          </div>
          <div class="control-group">
            <label class="control-label">Bekreft nytt passord</label>
            <div class="controls">
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-lock"></i></span>
                  <%= f.input :password_confirmation,  :wrapper_html => { :class => "inline_field_wrapper" },  label: false, :required => false %>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Gammelt passord</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <%= f.input :current_password,  :wrapper_html => { :class => "inline_field_wrapper" },  label: false, :hint => "Vi trenger ditt gamle passord for å endre profilen", :required => true %>
              </div>
            </div>
          </div>
      </div>

      <div class="span5">
        <div class="control-group">
              <label class="control-label">Fornavn</label>
          <div class="controls">
              <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
                <%= f.input :first_name,  :wrapper_html => { :class => "inline_field_wrapper" },  label: false, :required => false %>
            </div>
          </div>
        </div>
      
        <div class="control-group">
              <label class="control-label">Etternavn</label>
          <div class="controls">
              <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
                <%= f.input :last_name,  :wrapper_html => { :class => "inline_field_wrapper" },  label: false, :required => false %>
            </div>
          </div>
        </div>
      
        <div class="control-group">
              <label class="control-label">Telefonnummer</label>
          <div class="controls">
              <div class="input-prepend">
            <span class="add-on"><i class="icon-phone"></i></span>
                <%= f.input :phone,  :wrapper_html => { :class => "inline_field_wrapper" },  label: false, :required => false %>
            </div>
          </div>
        </div>

        <div class="control-group">
              <label class="control-label">Adresse 1</label>
          <div class="controls">
              <div class="input-prepend">
            <span class="add-on"><i class="icon-home"></i></span>
                <%= f.input :address1,  :wrapper_html => { :class => "inline_field_wrapper" },  label: false, :required => false %>
            </div>
          </div>
        </div>

        <div class="control-group">
              <label class="control-label">Adresse 2</label>
          <div class="controls">
              <div class="input-prepend">
            <span class="add-on"><i class="icon-home"></i></span>
                <%= f.input :address2,  :wrapper_html => { :class => "inline_field_wrapper" },  label: false, :required => false %>
            </div>
          </div>
        </div>

        <div class="control-group">
              <label class="control-label">Poststed</label>
          <div class="controls">
              <div class="input-prepend">
            <span class="add-on"><i class="icon-home"></i></span>
                <%= f.input :city,  :wrapper_html => { :class => "inline_field_wrapper" },  label: false, :required => false %>
            </div>
          </div>
        </div>

        <div class="control-group">
              <label class="control-label">Postnummer</label>
          <div class="controls">
              <div class="input-prepend">
            <span class="add-on"><i class="icon-home"></i></span>
                <%= f.input :zipcode, as: :string, :strip_insignificant_zeros => false,  :wrapper_html => { :class => "inline_field_wrapper" },  label: false, :required => false %>
            </div>
          </div>
        </div>


        <div class="control-group">
              <label class="control-label">Land</label>
          <div class="controls">
              <div class="input-prepend">
            <span class="add-on"><i class="icon-flag"></i></span>
              <%= localized_country_select(:user, :country_code, [], :class => 'span4', :include_blank => 'Vennligst velg ...') %>
            </div>
          </div>
        </div>

          <div class="control-group">
            <div class="controls">
                  <%= f.button :submit, "Oppdater", :class => "btn btn-primary pull-right" %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>