<%= simple_form_for [:admin, @news], :html => {:multipart => true,  :class => 'form-horizontal' } do |f| %>
<fieldset>
  <%= f.input :title, label: "Tittel" %>
	<%= f.input :ingress, label: "Ingress" %>
  	<%= f.input :body, label: "Brødtekst" %>
  	<%= f.file_field :image, label: "Bilde" %>
 
  <div class="form-actions">
    <%= f.submit "Lagre", :class => 'btn btn-primary' %>
    <%= link_to 'Avbryt', admin_news_index_path, :class => 'btn' %>
  </div>
</fieldset>
<% end %>
