<%= fields_for :track, track do |t| %>

<div class="pull-left" style="width:30px;text-align:center">#</div>
<div class="upload_spor pull-left">Tittel</div>
<div class="upload_duration pull-right" style="margin-right:42px;">
    M &nbsp;&nbsp; S
</div>
<div class="clearfix"></div>

  <div class="upload_spor_num pull-left"><%= t.text_field :track_num, :value => tracks_counter, :maxlength => 2, size: 2 %></div>
    <div class="upload_spor pull-left"><%= t.text_field :name, placeholder: 'Tittel på sporet' %></div>
    <%= link_to '<i class="icon-remove icon-2x pull-right order_info "style="padding-top:5px;color:white"></i>'.html_safe, style:'float:right;' %>      
    <div class="upload_duration pull-right">
      <%= t.text_field :duration_mins, :maxlength => 2, size: 2 %>
      <%= t.text_field :duration_secs, :maxlength => 2, size: 2 %>

    </div>
    <div class="clearfix"></div>

    <% upload_id = "_"+ (side.side_num + 1).to_s + "_" + tracks_counter.to_s %>
    <div id="track<%= upload_id %>" class="pull-left">
        <%= t.hidden_field :file_url %>
        <% unless t.object.id.nil? %>
          <%= link_to track.name, track.file_url, style:'color:white' %>
        <% end %>
    </div> 
    <br />
    <%= s3_uploader_form post: tracks_url+"?side_num="+(side.side_num + 1).to_s+"&track_num="+tracks_counter.to_s, as: "track[file_url]", id: "uploader"+upload_id do %>
      
      <%= file_field_tag :file, class: 'pull-left' %>

    <% end %>
    <div class="pull-left">
     <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        <br />
          {%=o.name%}
        <div class="progress"><div class="bar" style="width: 0%;height:40px;"></div></div>
      </div>
      </script>

    </div>

    <div class="clearfix"></div>

    <script type="text/javascript">
    	$(document).ready(function() {
		  return jQuery(function() {
		    return $('#uploader<%= upload_id %>').fileupload({
		      add: function(e, data) {
		        var file, types;
		        ({
		          dataType: "script"
		        });
		        types = /(\.|\/)(gif|jpe?g|png)$/i;
		        file = data.files[0];
		        if (types.test(file.type) || types.test(file.name)) {
		          data.context = $(tmpl("template-upload", file));
		          $('#uploader<%= upload_id %>').append(data.context);
		          return data.submit();
		        } else {
		          return alert("" + file.name + " er ikke en gif, jpeg, eller png-fil");
		        }
		      },
		      progress: function(e, data) {
		        var progress;
		        if (data.context) {
		          progress = parseInt(data.loaded / data.total * 100, 10);
		          return data.context.find('.bar').css('width', progress + '%');
		        }
		      },
		      done: function(e, data) {
		        var content, domain, file, path, to;
		        file = data.files[0];
		        domain = $('#uploader<%= upload_id %>').attr('action');
		        path = $('#uploader<%= upload_id %> input[name=key]').val().replace('${filename}', file.name);
		        to = $('#uploader<%= upload_id %>').data('post');
		        content = {};
		        content[$('#uploader<%= upload_id %>').data('as')] = domain + path;
		        $.post(to, content);
		        if (data.context) {
		          return data.context.remove();
		        }
		      },
		      fail: function(e, data) {
		        alert("" + data.files[0].name + " klarte ikke å laste opp.");
		        console.log("Upload failed:");
		        return console.log(data);
		      }
		    });
		  });
		});
    </script>
<% end %>