<div class="progress orderline toggle-button">
		<div class="btn btn-inverse" style="width:100%;">
      <i id="plusminusicon" class="icon-plus-sign" style="float:left;padding-top:5px"></i>
      <span class="orderline_title"><b>COVERS</b></span>
      <span class="btn btn-success btn-mini orderline_status">Ferdig</span>
      <span id="covers_status_text" class="orderline_status_text">600 x Svarte coves</span>
		</div>
  </div>
  <div class="toggle-info"> 
    <table class="table orderline">
      <tr>
        <td colspan="2">
          <i class="icon-info-sign icon-2x pull-right order_info" style="padding:5px"></i>

          <div class="infoBox">
            <%= get_info_text('covers').desc %>
          </div>
          <div class="infoTextBox">
            <%= get_info_text('covers').short_desc %>
          </div>
        </td>
      </tr>
      <%= f.fields_for :covers do |covers_fields| %>
      <tr>
        <td><b>Innerhylse</b></td>
        <td style="text-align:right">
           <%= covers_fields.select(:inner_sleeve_pages, [['1 side', '1'], ['2 sider', '2']]) %>  
           <%= covers_fields.select(:inner_sleeve_type, [['Hvit', 'Hvit'], ['Svart', 'Svart']]) %>  
        </td>
      </tr>
      <tr>
        <td><b>Cover</b></td>
        <td style="text-align:right">
          <%= covers_fields.select(:thickness, [['3 mm', '3 mm'], ['6 mm', '6 mm'], ['10 mm', '10 mm']], :class => 'tykkelse') %>  
          <%= covers_fields.select(:sleeve_type, [['Cover med rygg (spined)', 'Cover med rygg (spined)'], ['Brettet omslag (gatefold)', 'Brettet omslag (gatefold)'], ['Trippelalbum (2 brett)', 'Trippelalbum (2 brett)']]) %>  
        </td>
      </tr>
       <tr>
        <td class="orderprice">Pris</td>
        <td style="text-align:right">400 kr</td>
      </tr>
            <tr>
        <td class="orderprice" colspan="2">Kommentarer</td>
      </tr>
       <tr>
        <td  colspan="2"><%= covers_fields.text_area :comments, :size => "70x6", class: 'span9'  %></td>
      </tr>

      <% end %>
    </table>

</div>