<div class="progress orderline toggle-button">
		<div class="btn btn-inverse" style="width:100%;">
      <i id="plusminusicon" class="icon-plus-sign" style="float:left;padding-top:5px"></i>
      <span class="orderline_title"><b>GRAVERING</b></span>
      <span class="btn btn-success btn-mini orderline_status">Ferdig</span>
      <span id="gravering_status_text" class="orderline_status_text">45 rpm</span>
		</div>
  </div>
  <div class="toggle-info"> 
    <table class="table orderline">
      <tr>
        <td colspan="2">
          <i class="icon-info-sign icon-2x pull-right order_info" style="padding:5px"></i>

          <div class="infoBox">
            <%= get_info_text('gravering').desc %>
          </div>
          <div class="infoTextBox">
            <%= get_info_text('gravering').short_desc %>
          </div>
        </td>
      </tr>

    <%= f.fields_for :gravering do |gravering_fields| %>
      <tr>
        <td><b>Side A</b></td>
        <td style="text-align:right;font-weight:bold">
          <%= gravering_fields.select(:side_a_rpm, [['45 rpm', '45 rpm'], ['33 1/3 rpm', '33 1/3 rpm']]) %>  
        </td>
      </tr>
      <tr>
        <td><b>Side B</b></td>
        <td style="text-align:right;font-weight:bold">
           <%= gravering_fields.select(:side_b_rpm, [['45 rpm', '45 rpm'], ['33 1/3 rpm', '33 1/3 rpm']]) %>  

        </td>
      </tr>
       <tr>
        <td class="orderprice">Pris</td>
        <td id="gravering_price" style="text-align:right;font-weight:bold">0 kr</td>
      </tr>
      <tr>
        <td colspan="2" class="span8">

            <%= s3_uploader_form post: tracks_url, as: "track[file_url]", id: "uploader_x" do %><% end %>
            <%= gravering_fields.fields_for :sides do |side| %>
            <div class="span4 gravering_upload_side" id="side_<%= side.object.side_num + 1 %>">Side <%= side.object.side_num + 1 %>
              <br /><br />
              <div id="tracks_container_<%= side.object.id %>">
                
                 <% tracks_counter = 0 %>
            
                  <% side.object.tracks.each do |track| %> 
                  <% tracks_counter += 1 %>
                  <%= render partial: 'track', locals: {:side_form => side, :track => track, :side => side.object, :tracks_counter => tracks_counter } %>

                 <% end %>
               </div>
              <div class="pull-right">
              
                <%= link_to '<i id="add_track_button" style="color:white" class="icon-plus-sign icon-2x pull-right"></i>'.html_safe, new_track_path(side_id: side.object.id, tracks_counter: (tracks_counter + 1).to_s).to_s,id: 'add_track_'+side.object.id.to_s,  remote: true %>   

              </div>
             </div>

          <% end %>
        
        </td>
      </tr>

      <tr>
        <td class="orderprice" colspan="2">Kommentarer</td>
      </tr>
       <tr>
        <td  colspan="2"><%= gravering_fields.text_area :comments, :size => "70x6", class: 'span9'  %></td>
      </tr>
    <% end %>
    </table>

</div>