<div class="progress orderline toggle-button">
		<div class="btn btn-inverse" style="width:100%;">
      <i id="plusminusicon" class="icon-plus-sign" style="float:left;padding-top:5px"></i>
      <span class="orderline_title"><b>LABELS</b></span>
      <span class="btn btn-success btn-mini orderline_status">Ferdig</span>
      <span id="labels_status_text" class="orderline_status_text"></span>
		</div>
  </div>
  <div class="toggle-info"> 
    <table class="table orderline">
      <tr>
        <td colspan="2">
          <i class="icon-info-sign icon-2x pull-right order_info" style="padding:5px"></i>

          <div class="infoBox">
            <%= get_info_text('labels').desc %>
          </div>
          <div class="infoTextBox">
            <%= get_info_text('labels').short_desc %>
          </div>
        </td>
      </tr>

    <%= f.fields_for :labels do |labels_fields| %>
      <tr>
        <td><b>Antall</b></td>
        <td style="text-align:right">
          <%= labels_fields.number_field :quantity, :style => 'width:80px' %> 
        </td>
      </tr>
      <tr>
        <td><b>Farge / Trykk</b></td>
        <td style="text-align:right">
          <%= labels_fields.select(:label_type, [['Hvit', 'Hvit'],['Svart', 'Svart']]) %> 
        </td>
      </tr>
       <tr>
        <td class="orderprice">Pris</td>
        <td id="labels_price" style="text-align:right;font-weight:bold">0 kr</td>
      </tr>
    <% end %>

    </table>

</div>