<div class="progress orderline toggle-button">
		<div class="btn btn-inverse" style="width:100%;">
      <i id="plusminusicon" class="icon-plus-sign" style="float:left;padding-top:5px"></i>
      <span class="orderline_title"><b>PRESSING</b></span>
      <span class="btn btn-success btn-mini orderline_status">Ferdig</span>
      <span id="pressing_status_text" class="orderline_status_text">300 x Svart vinyl</span>
		</div>
  </div>
  <div class="toggle-info"> 
    <table class="table orderline">
      <tr>
        <td colspan="2">
          <i class="icon-info-sign icon-2x pull-right order_info" style="padding:5px"></i>

          <div class="infoBox">
            <%= get_info_text('pressing').desc %>
          </div>
          <div class="infoTextBox">
            <%= get_info_text('pressing').short_desc %>
          </div>
        </td>
      </tr>
      <%= f.fields_for :pressing do |pressing_fields| %>
      <tr>
        <td><b>Farge</b></td>
        <td style="text-align:right">
        
          <%= pressing_fields.select(:color, [['Svart', 'Svart'], ['Rød', 'Rød'], ['Hvit', 'Hvit']]) %> 
        </td>
      </tr>
      <tr>
        <td><b>Størrelse på hull</b></td>
        <td style="text-align:right">
        
          <%= pressing_fields.select(:holesize, [['Stort (ser best ut)', 'Stort'], ['Lite', 'Lite']]) %> 
        </td>
      </tr>
      <tr>
        <td><b>Vekt</b></td>
        <td style="text-align:right">
        
          <%= pressing_fields.select(:weight, [['140g', 140], ['180g', 180]]) %> 
        </td>
      </tr>
      <tr>
        <td><b>Repressing?</b></td>
        <td style="text-align:right">
        
          <%= pressing_fields.check_box(:repress) %> 
        </td>
      </tr>
       <tr>
        <td class="orderprice">Pris</td>
        <td style="text-align:right">400 kr</td>
      </tr>

      <% end %>
    </table>

</div>