<div class="span10" style="padding-bottom:30px;text-align:center">
	<h1>Velg pakkeløsning</h1> 
	<br />

		Start fra bunnen eller start med en av våre komponerte pakker. Du kan fortsette å endre på bestillingen etter du velger pakke. Start fra bunnen eller start med en av våre komponerte pakker. Du kan fortsette å endre på bestillingen etter du velger pakke. Start fra bunnen eller start med en av våre komponerte pakker. Du kan fortsette å endre på bestillingen etter du velger pakke.
</div>

<div class="span12">
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-align-center icon-large" style="padding:5px;"></i>
			BLANK PAKKE
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Start med en tom bestilling <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Komponer den fra bunnen
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Ha full kontroll i alle ledd
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>	
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-star icon-large" style="padding:5px;"></i>
			PUNKEPAKKA
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				150 x Sort vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				300 x Sorte labels
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				150 x Foldere
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				150 x Omslag med digitaltrykk
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>	
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-headphones icon-large" style="padding:5px;"></i>
			LUXUSPAKKEN
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				500 Farget vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				So
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-heart icon-large" style="padding:5px;"></i>
			SPESIALUTGAVE
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				500 Farget vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Velg antall, farge, fart, labels og mange andre ting
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-bolt icon-large" style="padding:5px;"></i>
			RASK LEVERING
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				500 Farget vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Velg antall, farge, fart, labels og mange andre ting
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-plus icon-large" style="padding:5px;"></i>
			STORE OPPLAG
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				500 Farget vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Velg antall, farge, fart, labels og mange andre ting
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>	
</div>