<div class="span9 offset1" style="padding-bottom:30px;text-align:center">
	<h1>Velg pakkeløsning</h1> 
	<br />
	<div style="text-align:justify;font-size:14px">
		Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
	</div>
</div>

<div class="span12">

<div id="s3uploader"></div>
<script>
var _s3config = {
	hash: 99413,
	height: 180,
	width: 250,
	user: 'e3648c2fb3e5dbfb331d8d16cb18d90a',
	folder: 'masters/',
	secure: false
};
var _s3url = "https://s3uploader.com/s3uploader.2.min.js";

(function(d,s,a){var b,fjs=d.getElementsByTagName(s)[0];
if(d.getElementById(a))return;b=d.createElement(s);
b.id=a;b.src=_s3url;fjs.parentNode.insertBefore(b,fjs)}
(document,'script','s3uploader-sdk'));
</script>

	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-align-center icon-large" style="padding:5px;"></i>
			BLANK PAKKE
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Start med en tom bestilling <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Komponer den fra bunnen
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Ha full kontroll i alle ledd
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>	
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-star icon-large" style="padding:5px;"></i>
			PUNKEPAKKA
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				150 x Sort vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				300 x Sorte labels
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				150 x Foldere
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				150 x Omslag med digitaltrykk
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>	
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-headphones icon-large" style="padding:5px;"></i>
			LUXUSPAKKEN
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				500 Farget vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				So
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-heart icon-large" style="padding:5px;"></i>
			SPESIALUTGAVE
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				500 Farget vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Velg antall, farge, fart, labels og mange andre ting
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-bolt icon-large" style="padding:5px;"></i>
			RASK LEVERING
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				500 Farget vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Velg antall, farge, fart, labels og mange andre ting
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>
	<div class="pakkeitem" onclick="window.location.href = '/orders/new'"><br />

		<div class="pakkeheading">	
			<i class="icon-plus icon-large" style="padding:5px;"></i>
			STORE OPPLAG
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				500 Farget vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Velg antall, farge, fart, labels og mange andre ting
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
			<%= button_tag "Gå til bestilling", :class => 'pull-right' %>
		</div>
	</div>	
</div>