<h2>Mine bestillinger</h2>

<div class="span10">
	<% @orders.each do |order| %>
		<div class="myOrdersWrapper">
			<div class="myOrderHeading">
				<%= order.title %> / <%= order.artist%>
				<div class="pull-right">
					<i id="plusminusicon" class="icon-info-sign icon-large" style="padding-top:5px"></i>
					<i id="plusminusicon" class="icon-plus-sign icon-large" style="padding-top:5px"></i>
				</div>
			</div>
			<div class="myOrderBody">
				<table class="table">
					<tr>
						<td>
							<%= order.gravering.side_a_rpm %>
						</td>
					</tr>
				</table>
				<div class="pull-right">
					<%= order.quantity %> x <%= order.pressing.color %> <%= order.record_size %> 
				</div>
			</div>
		</div>
	<% end %>
</div>