<div class="span12">
	<h2>Mine bestillinger</h2>

	<div class="span10">
		<% @orders.each do |order| %>
			<div class="myOrdersWrapper ">
				<div class="myOrderHeading toggle-button">
					<%= order.title %> / <%= order.artist%>
					<div class="pull-right">
						<i id="plusminusicon" class="icon-info-sign icon-large" style="padding-top:5px"></i>
						<i id="plusminusicon" class="icon-plus-sign icon-large" style="padding-top:5px"></i>
					</div>
				</div>
				<div class="toggle-info myOrderBody">
					<table class="table table-floating">
						<tr>
							<td>
								<%= order.gravering.side_a_rpm %>
							</td>
						</tr>
						<tr>
							<td>
						<%= order.quantity %> x <%= order.pressing.color %> <%= order.record_size %> 
							</td>
						</tr>
						<tr>
							<td>
								<%= button_to "Rediger ordre", { :controller => :orders, :action => 'edit', :id => order.id }, :method => :get, :class => 'btn btn-primary' %>

								<%= button_to "Slett ordre", { :controller => :orders, :action => 'destroy', :id => order.id }, :method => :delete, :class => 'btn btn-warning' %>
							</td>
						</tr>
					</table>
				</div>
			</div>
		<% end %>
	</div>
</div>