<div class="span12">
	<duv style="font-size:3em;padding:30px 0 30px 0" class="span9">Mine bestillinger</div>

	<div class="span11">
		<% @orders.each do |order| %>
			<div class="myOrdersWrapper">
				<div class="myOrderHeading">
					<div class="pull-left">
						<b><%= order.title %> / <%= order.artist %> </b>
						<div style="font-size:14px;">(<%= order.quantity %> eksemplarer)</div>
						<div style="padding:0px">
							<%= button_to "Se på ordre", { :controller => :orders, :action => 'edit', :id => order.id }, :method => :get, :class => 'btn btn-primary pull-left' %>
						</div>
					
					</div>

					<div class="pull-right">
						<i class="icon-info-sign icon-large pull-right order_info" style="padding-top:5px"></i>

					<br /><br />
						<div style="padding:0px">
							<%= button_to "Send til handlekurv", '/tilhandlekurv/'+order.id.to_s, :class => 'btn btn-success pull-right' %>
						</div>
					</div>

					<div class="pull-right" style="font-size:12px;padding:10px;">
				        Levering: <b><%=  DeliveryMethod.find(order.delivery_method_id).name %></b><br />
				        Størrelse: <b><%=  order.record_size %></b>
				    </div>
				  	<div class="pull-right" style="font-size:12px;padding:10px;">
  			        	Hastighet <b>(rpm): <%=  order.rpm %></b> <br />
  			        	Katalognummer: <%= order.catalogue_number %>)
				      
				    </div>
				</div>
			</div>
			<div style="clear:both">
		<% end %>
	</div>
</div>