<%= form_for @order do |f| %>
<div class="span4">	
    <fieldset>
   		 <legend>Generell informasjon</legend>

	<%= f.label "Tittel på produksjonen" %>	
	<%= f.text_field :title, placeholder: "F.eks. Abbey Road" %>	

	<%= f.label "Artist" %>	
	<%= f.text_field :artist, placeholder: "F.eks. The Beatles" %>	

	<%= f.label "Levering" %>
	<%= collection_select(:order, :delivery_method_id, DeliveryMethod.all, :id, :name) %>

  <%= f.label "Størrelse" %>
  <%= select(:order, :record_size, [['12"', '12"'], ['10"', '10"'], ['7"','7"']]) %>

	<%= f.label "Antall plater" %>
	<%= select(:order, :number_of_records, [['Enkel', 1], ['Dobbel', 2], ['Trippel', 3]]) %>


	</fieldset>
	
	<%= render :partial => 'audio_master', :locals => { :f => f } %>
</div>

<div class="span7">	
    <fieldset>
   		 <legend >Bestilling</legend>
   		
      <%= render :partial => 'gravering' %>
      <%= render :partial => 'matriser' %>    
      <%= render :partial => 'provetrykk' %>    
      <%= render :partial => 'pressing' %> 
      <%= render :partial => 'labels' %> 
      <%= render :partial => 'covers' %> 

  

  </fieldset>
    <br />
  <%= f.submit "Send bestilling", class: 'btn btn-primary pull-right' %>
  <%= f.submit "Lagre Bestilling", class: 'btn btn-success pull-lagre' %>
</div>

<% end %>