<%= form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
  <legend><%= controller.action_name.capitalize %> Side</legend>

  <%= f.input :title %>
	<%= f.input :ingress %>
  	<%= f.input :body %>
 
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel',pages_path, :class => 'btn' %>
  </div>
</fieldset>
<% end %>
