<%- model_class = Page -%>
<div class="page-header">
  <h1>Side</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Tittel:</strong></dt>
  <dd><%= @page.title %></dd>
  <dt><strong>Ingress:</strong></dt>
  <dd><%= @page.ingress %></dd>
  <dt><strong>Brødtekst:</strong></dt>
  <dd><%= @page.body %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Tilbake",
              pages_path, :class => 'btn'  %>
  <%= link_to "Rediger",
              edit_page_path(@page), :class => 'btn' %>
  <%= link_to "Slett",
              page_path(@page),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Er du sikker?')) },
              :class => 'btn btn-danger' %>
</div>
