<div class="row">
	<div class="span12">
<% if !user_signed_in? %>
		<div id="accordion">
		    <h3 >Steg 1: Alternativer for bestilling</h3>
	       		<div class="accordion-inner">
				    <div class="span6 no_margin_left">
						<div class="checkout_heading">Ny kunde</div>
						<p>For å sende en bestilling til Vinylfabrikken må du registrere deg. Når du er registrert kan du følge bestillingen og se når de ulike delene blir ferdig.</p>


					  	<a class="btn btn-primary pull-right" style="color:white;margin-top:127px" href="<%= new_user_registration_path %>">Registrer deg her</a>

				    </div>
		  		    <div class="span5">
						<div class="checkout_heading">Allerede registrert?</div>
						<p>Hvis du allerede har registrert deg hos oss så kan du logge inn her</p>

						<%= form_for("user", :url => user_session_path) do |f| %>
							<fieldset>
								<div class="control-group">
									<label for="focusedInput" class="control-label">Brukernavn</label>
									<div class="controls">

								  <%= f.text_field :email, placeholder: 'Skriv inn e-post', class: 'input-xlarge focused' %>

								</div>
								<div class="control-group">
									<label class="control-label">Passord</label>
									<div class="controls">
								  <%= f.password_field :password, placeholder: 'Skriv inn passord', class: 'input-xlarge' %>
									</div>
								</div>

							  <%= f.submit 'Logg inn', class: 'btn btn-primary pull-right' %>

							</fieldset>
						<% end %>
				    </div>				  
                </div>
           </div>

<% end %>

<% if user_signed_in? %>

		<%= simple_form_for(@delivery_info) do |f| %>
		<div id="accordion">

		 	<h3>Steg 1: Fakturadetaljer</h3>

		 	 <div class="accordion-inner">
				<div class="span6 no_margin_left">
					<div class="checkout_heading">Personinformasjon</div>
					  <div class="control-group">
						<label class="control-label">Fornavn</label>
						<div class="controls docs-input-sizes">
						  <input type="text" disabled="disabled" value="<%= current_user.first_name %>" placeholder="Skriv inn fornavnet ditt" class="span4">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label">Etternavn</label>
						<div class="controls docs-input-sizes">
						  <input type="text" disabled="disabled" value="<%= current_user.last_name %>" placeholder="Skriv inn etternavnet ditt" class="span4">
						</div>
					  </div>					  
					  <div class="control-group">
						<label class="control-label">E-post</label>
						<div class="controls docs-input-sizes">
						  <input type="text" disabled="disabled" value="<%= current_user.email %>" placeholder="Skriv inn e-posten din" class="span4">
						</div>
					  </div>					 

					  <div class="control-group">
						<label class="control-label">Telefonnummer</label>
						<div class="controls docs-input-sizes">
						  <input type="text" disabled="disabled" value="<%= current_user.phone %>" placeholder="Skriv inn telefonnummer" class="span4">
						</div>
					 </div>
				  </div>
				  <div class="span5">
   					<div class="checkout_heading">Adresse</div>
					  <div class="control-group">
						<label class="control-label">Adresse 1</label>
						<div class="controls docs-input-sizes">
						  <input type="text" disabled="disabled" value="<%= current_user.address1 %>" placeholder="Skriv inn adresse" class="span4">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label">Adresse 2</label>
						<div class="controls docs-input-sizes">
						  <input type="text" disabled="disabled" value="<%= current_user.address2 %>" placeholder="Skriv inn tilleggsinformasjon om adressen" class="span4">
						</div>
					  </div>					  
					  <div class="control-group">
						<label class="control-label">Poststed</label>
						<div class="controls docs-input-sizes">
						  <input type="text" disabled="disabled" value="<%= current_user.city %>" placeholder="Skriv inn poststed" class="span4">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label">Postnummer</label>
						<div class="controls docs-input-sizes">
						  <input type="text" disabled="disabled" value="<%= current_user.zipcode %>" placeholder="Skriv inn postnummer" class="span4">
						</div>
					  </div>					  <div class="control-group">
						<label class="control-label">Land</label>
						<div class="controls docs-input-sizes">
							<%= localized_country_select(:user, :country_code, ["#{current_user.country_code}"],) %>						</div>
					  </div>
				  </div>
					  <div class="span11 no_margin_left">

						  <br />
						  <a onclick='$( "#accordion" ).accordion({ active: 1 });' class="btn btn-primary pull-right" style="color:white" href="#">Fortsett</a><br /><br /><br />
					 </div>
				</div>

		  <h3 id="collapse3">Steg 2: Leveringsinformasjon</h3>
				<div class="accordion-inner">

					<div class="span6 no_margin_left">
					<div class="checkout_heading">Personinformasjon</div>
					  <div class="control-group">
						<label class="control-label">Fornavn</label>
						<div class="controls docs-input-sizes">
						 <%= f.input :first_name, input_html: { id: 'firstname', class: 'span4' }, label: false, locked: true %>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label">Etternavn</label>
						<div class="controls docs-input-sizes">
						 <%= f.input :last_name, input_html: { id: 'lastname', class: 'span4' }, label: false %>
						</div>
					  </div>					  
							 

					</div>
				  <div class="span5">
				  	  	<div class="">
		  				    <a id="fill_in_info" style="color:white" class="btn btn-inverse pull-right" href="#">Rediger leveringsinformasjon</a><br />
						</div>
   					<div class="checkout_heading">Adresse</div>
					  <div class="control-group">
						<label class="control-label">Adresse 1</label>
						<div class="controls docs-input-sizes">
						 <%= f.input :address1, input_html: { id: 'address1', class: 'span4' }, label: false %>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label">Adresse 2</label>
						<div class="controls docs-input-sizes">
						 <%= f.input :address2, input_html: { id: 'address2', class: 'span4' }, label: false %>

						</div>
					  </div>					  
					  <div class="control-group">
						<label class="control-label">Poststed</label>
						<div class="controls docs-input-sizes">
						 <%= f.input :city, input_html: { id: 'city',class: 'span4' }, label: false %>
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label">Postnummer</label>
						<div class="controls docs-input-sizes">
						 <%= f.input :zipcode, input_html: { id: 'zipcode',class: 'span4' }, label: false %>

						</div>
					  </div>					  <div class="control-group">
						<label class="control-label">Land</label>
						<div class="controls docs-input-sizes">
						 <%= f.input :country, input_html: { id: 'country', class: 'span4' }, label: false %>

						</div>
					  </div>
				  </div>
					 <div class="span11 no_margin_left">
					  <br />
					  <a onclick='$( "#accordion" ).accordion({ active: 2 });' class="btn btn-primary pull-right" style="color:white" href="#">Fortsett</a>					 
					  <a onclick='$( "#accordion" ).accordion({ active: 0 });' class="btn btn-primary pull-left" style="color:white" href="#">Tilbake</a>
					 </div>
				</div>

			<h3>Steg 3: Betaling</h3>
				<div class="accordion-inner">
					<%= f.association :payment_method %>
						<div class="control-group">
 			           <label for="textarea" class="control-label">Kommentarer</label>
			            <div class="controls">
			            <%= f.input :payment_comment, label: false, input_html: { class: 'span6' } %>
			             
           				 </div>
          			</div>
					<div class="span11 no_margin_left">
					  <br />
					  <a onclick='$( "#accordion" ).accordion({ active: 1 });' style="color:white" class="btn btn-primary pull-left" href="#">Tilbake</a>
					  	<%= f.submit 'Bekreft bestilling', class: 'btn btn-primary pull-right'  %>
<br /><br /><br />
					</div>				
				</div>
			
		<% end %>
		</div>
		<% end %>		
	</div>
</div>

<script>
	$(function() {
    	$( "#accordion" ).accordion({ active: 0 });
  	});
	
	$('#fill_in_info').click(function() {
		$('#firstname').removeAttr('locked');	
		$('#lastname').removeAttr('disabled');	
		$('#address1').removeAttr('disabled');	
		$('#address2').removeAttr('disabled');	
		$('#city').removeAttr('disabled');	
		$('#zipcode').removeAttr('disabled');	
		$('#country').removeAttr('disabled');	
    });


</script>

