
<tr>
   <td>
   		<h2>
   			<a href="<%= vendors.link %>" target="_new" style="background-color:white;color:black"><%= vendors.name %></a>
   		</h2>
   	</td>
 </tr>
<tr>
    <td>
     	<%= vendors.desc %>
     	<br /><br />
     	<%= vendors.speciality %>
    </td>
    <td>
       <%= vendors.name %> <br />
       <%= vendors.address %><br />
       <%= vendors.city %><br />
       <%= vendors.phone %><br />
       <a href="<%= vendors.website %>" target="_new"><%= vendors.website %></a>
     </td>
</tr>

