<div class="span12 offset4" style="padding:20px">
 <div class="login-container">
    <div class="content">
      <div class="row">
        <div class="login-form"  style="color:white">
          <h2 style="color:white">Logg inn</h2>
          <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <fieldset>
              <div class="clearfix">
                <%= f.input :email, label: "E-post" , :required => false, :autofocus => true, :placeholder => "E-post" %>
              </div>
              <div class="clearfix">
                    <%= f.input :password, label: "Passord", :required => false, :placeholder => "Passord" %>
              </div>
              <div class="clearfix">
                <%= f.input :remember_me, label: "Husk meg?", :as => :boolean if devise_mapping.rememberable? %>
              </div>
			  <%= f.button :submit, "Logg inn", :class => 'btn btn-primary' %>
            </fieldset>
         <% end %>
	    <%= render "devise/shared/links"%>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</divz>