
<div class="span7 offset2">
  <div class="well form-horizontal" >
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        
        <%= f.error_notification %>
      <legend style="font-family:Arial">Innlogging</legend>
    
      <div class="control-group">
            <label class="control-label">E-post</label>
        <div class="controls">
            <div class="input-prepend">
             <span class="add-on"><i class="icon-envelope"></i></span>    
               <input autofocus="autofocus" class="string email required inputut-xlarge " id="user_email" name="user[email]" placeholder="E-post"  type="email" value="">      </div>
        </div>
      </div>
      <div class="control-group ">
            <label class="control-label">Passord</label>
        <div class="controls">
            <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
              <input class="password required" id="user_password" name="user[password]" placeholder="Passord"  type="password">         
            </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
              <%= f.input :remember_me, :label => 'Husk meg?', style: '', :as => :boolean if devise_mapping.rememberable? %>
              <%= f.button :submit, "Logg inn", :class => "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label"></label>
            <div class="controls">
              <%= render "devise/shared/links" %>
            </div>

      </div>
    <% end %>

     </div>
  </div>
</div>