<h2>Logg inn</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, label: "E-post" , :required => false, :autofocus => true %>
    <%= f.input :password, label: "Passord", :required => false %>
    <%= f.input :remember_me, label: "Husk passord?", :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Logg inn" %>
  </div>
<% end %>

