<%- model_class = Product -%>
<div class="page-header">
  <h1>Produkt</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Navn</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong>Beskrivelse</strong></dt>
  <dd><%= @product.desc %></dd>
  <dt><strong>Enhetspris</strong></dt>
  <dd><%= @product.price %></dd>
  <dt><strong>Kategori</strong></dt>
  <dd><%= @product.product_type.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to "Tilbake",
              products_path, :class => 'btn'  %>
  <%= link_to "Rediger",
              edit_product_path(@product), :class => 'btn' %>
  <%= link_to "Slett",
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
